{{ define "main" }}
  <article class="cf w-100 w-70-l w-100-m center">
    <div class="center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      <p>{{ i18n "taxonomyPageList" . }}</p>
    </div>
  </article>
  <div class="w-100 w-70-l w-100-m center">
    <section class="flex-ns flex-wrap mt2">
      {{ range  .Pages }}
        <div class="relative pa0-ns pa3 w-100-ns mb4 center bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
