{{ define "main" }}
<div class="pa3 mt5 mt7-l mt7-m pa3-ns w-100 w-70-l w-100-m center">
  <div class="flex flex-column flex-row-reverse-ns flex items-center justify-center">
    <div class="w-100 pl2 tc tl-ns">
      <img width="240" class="br-100" src="{{.Site.Params.cdn}}/images/cover.jpg">
    </div>
    <div class="w-100 tr-ns tc pr2 helvetica">
      <h1 class="f2 mid-gray">I'm Bingdian.</h1>
      <div class="mv2">
        <a href="https://github.com/bingdian" class="link" target="_blank">
          <span class="gray f4">Software Engineer</span>
        </a>
      </div>
      <div class="mv2">
        <a href="/photography/" class="link">
          <span class="gray f4">Photography Enthusiasts</span>
        </a>
      </div>
      <div class="mv2">
        <p class="mv0 f4 moon-gray">Love reading and watching movies... </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
