{{ define "main" }}
<div class=" w-100 w-70-l w-90-m center">
  <div class="flex flex-column flex-row-reverse-ns items-center home-container justify-center">
    <div class="w-100 tc tl-ns pl2">
      {{ $avatar := partial "func/GetResourceUrl.html" "/images/cover.jpg"}}
      <img  class="br-100 mw4 mw5-ns" src="{{$avatar}}">
    </div>
    <div class="w-100 tc tr-ns pr2 helvetica">
      <h1 class="f2 mid-gray">我是冰点</h1>
      <div class="mv2">
        <a href="https://github.com/bingdian" class="link dim" target="_blank">
          <span class="gray f4">软件开发工程师</span>
        </a>
      </div>
      <div class="mv2">
        <a href="/photography/" class="link dim">
          <span class="gray f4">喜欢摄影</span>
        </a>
      </div>
      <div class="mv2">
        <p class="mv0 f4 moon-gray">热爱阅读和电影...</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
